/* AddColumnForm.css */

/* Indian Army colors */
:root {
    --army-green: #658147;
    --khaki: #E7F0DC;
    --gold: #CBD081;
  }
  
  .AddColumnForm {
    background-color: var(--army-green);
    padding: 20px;
    border: 1px solid var(--army-green);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .AddColumnForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff; /* White text on green background */
  }
  
  .AddColumnForm input[type="text"], .AddColumnForm select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--khaki);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--khaki); /* Khaki background for textboxes */
    color: #333; /* Dark gray text */
  }
  
  .AddColumnForm button[type="submit"] {
    background-color: var(--gold);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .AddColumnForm button[type="submit"]:hover {
    background-color: var(--army-green);
  }
  
  .AddColumnForm .column-types {
    margin-top: 20px;
  }
  
  .AddColumnForm .column-types option {
    padding: 10px;
    font-size: 16px;
  }